header.header-main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: lightblue;
}
img.header-logo {
    width: 6rem;
}
nav.navigation-bar ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
nav.navigation-bar ul li {
    list-style-type: none;
    padding: 1rem;
}
nav.navigation-bar ul li a {
    text-decoration: none;
    font-size: 0.9rem;
}
