<header class="header-main">
  <div class="header-logo" flex-xs=100 flex-sm=20 flex-md=20 flex-lg=20>
    <img class="header-logo" src="/assets/images/logo.png" alt="logo-title">
  </div>
  <nav class="navigation-bar" flex-xs=80 flex-sm=80 flex-md=80 flex-lg=80 flex="80">
    <ul>
      <li>
        <a routerLink="home" rel="noopener">Home</a>
      </li>
      <li>
        <a routerLink="about" rel="noopener">About</a>
      </li>
      <li>
        <a routerLink="myProject" rel="noopener">Projects</a>
      </li>
      <li>
        <a routerLink="contact" rel="noopener">Contact</a>
      </li>
      <li>
          <a routerLink="login" rel="noopener" routerLinkActive="active">Login</a>
        </li>
    </ul>
  </nav>
  <!-- <div class="search-container" flex-xs=100 flex-sm=20 flex-md=20 flex-lg=20>
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div> -->
</header>

<router-outlet></router-outlet>