.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact {
	background:#F9F9F9;
	padding:25px;
	margin: 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

.contact-main-container {
	margin: 0 auto;
    display: flex;
    float: none;
    align-items: center;
    justify-content: center;
}