<!-- Left Column -->
<div class="w3-third home-page-container">

  <div class="w3-white w3-text-grey w3-card-4">
    <div class="w3-display-container">
      <img src="/assets/images/sudheer.jpg" style="width:100%" alt="sudheer">
      <div class="w3-display-bottomleft w3-container w3-text-black">
        <h2>Badigi Reddy Sudheer Kumar Reddy</h2>
      </div>
    </div>
    <div class="w3-container">
      <p>
        <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Consultant(UI Developer)</p>
      <p>
        <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Bangalore, India</p>
      <p>
        <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>badigireddy.sudheer@gmail.com</p>
      <p>
        <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+91-9000668071</p>
      <hr>

      <p class="w3-large">
        <b>
          <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b>
      </p>
      <p>HTML4 & HTML5, CSS2 & CSS3, SCSS</p>
      <div class="w3-light-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
      </div>
      <p>Bootstarp, Sitecore, JSON</p>
      <div class="w3-light-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
          <div class="w3-center w3-text-white">80%</div>
        </div>
      </div>
      <p>Javascript, Jquery</p>
      <div class="w3-light-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
      </div>
      <p>AngularJS 4 & 5, ReactJS</p>
      <div class="w3-light-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
          <div class="w3-center w3-text-white">80%</div>
        </div>
        <p class="adobe">Adobe Photoshop</p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
          <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
        </div>
        <br>
      </div>
    </div>
    <br>

    <!-- End Left Column -->
  </div>